
//Font to be used throughout page
@font-face {
    font-family: 'Alata';
    src: url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
}

//Colors defined for use in page
$spaceCadet : #222e50;
$spaceCadetLight : #98a3be;
$cerulaean : #007991;
$zomp: #439A86;
$eladon: #bcd8c1;
$flax: #e9d985; 

//font to be applied to all elements on page
*{font-family: 'Alata',Arial, Helvetica, sans-serif;}




